# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
DATABASE_URL=mongodb+srv://pefic67072:ONtkKs5MbRzEreuJ@cluster0.8py7f.mongodb.net/?retryWrites=true&w=majority
SESSION_ID=xliconv2~FyESxIib#mW1fB78U6vHQ3zouzx_ars2RwrZq0y5GCrw2shXkgwM
REMOVEBG_KEY=BBfMmriykjJ2kMa1ayiAUTw3
PREFIX=-
MODE=public
autoRead=true
statusview=true
